
<p>Please Login</p>

<input name="username" type ="text" ng-model="username" required>
<input name="password" type ="password" ng-model="password" required>

<button ng-click = "reset()">Reset</button>
<button ng-click = "submitLogin()">Login</button>
