<form role="form">
    <div class="form-group">
        <label for="title" class="control-label">Shout</label>
        <input type="text" ng-model="shout.shout" class="form-control" id="title" placeholder="Enter the shout">
    </div>
    <input type="hidden" value="{{ (username) ? username: 'jpalala' }}">
    <input type="submit" class="btn btn-primary" ng-click="saveShout()">
</form>
