<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: viewShout}"><a ng-href="/#/shout/{{ shout._id }}">View</a></li>
  <li role="presentation" ng-class="{active: editShout}"><a ng-href="/#/shout/{{ shout._id }}/edit">Edit</a></li>
</ul>
