<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Shout</label>
    <input type="text" ng-model="shout.shout" class="form-control" id="shout" placeholder="Enter the movie title"/>
  </div>
  <div class="form-group">
    <label for="username" class="control-label">User</label>
    <input type="text" disabled="disabled" value="jpalala" ng-model="shout.user" class="form-control" id="username" placeholder="Enter Username"/>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveShout()" value="Save"/>
</form>
