<form role="form">
    <p>You sure 'bout deleting shout {{ shout.shout }}?</p>
    <div class="form-group">
       <input type="submit" class="btn btn-default" ng-click="deleteShout()" value="Yes">
       <button ng-click="back()" type="button" class="btn btn-default">No</button>
   </div>
</form>
