<a class="btn btn-primary" href="/#/create/shout"><span class="glyphicon glyphicon-plus"></span>Create Shout</a>
<br>
<table class="table table-striped">
  <thead>
    <th>Shout</th>
    <th>User</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr ng-repeat="shout in shouts">
        <td><a ng-href="/#/shout/{{shout._id}}">{{ shout.shout }}</a></td>
        <td>{{ shout.user }}</td>
        <td>
            <div class="button-group">
                <a ng-href="/#/shout/{{ shout._id }}/edit" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a ng-href="/#/shout/{{ shout._id }}/delete" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </div>

        </td>
    </tr>
  </tbody>
</table>
